################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crawler/bin/Debug
/Crawler/obj/Debug
*.suo
/Peter/bin/Debug
/Peter/obj/Debug
