<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="URLStuff.Properties.Settings.PeterConnectionString1"
            connectionString="Data Source=ESJ-VISION\SQLEXPRESS;Initial Catalog=Peter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>